@charset "UTF-8";

/* corpo */

hgroup#sub h2 {
	  font-family: Arial, sans-serif;
	  color: rgba(0,128,255,0.8);
	  font-size: 15pt;
	  padding: 10px;
	  margin-top: 0px;
	  border-bottom: 1px solid rgba(0,0,0,.2);
} 

div#port{
	border: 1px solid rgba(0,0,0,.5);
}

/* galeria */

ul#galeria {
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#galeria li {
	float:left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all .4s ease-in;
}

ul#galeria li span {
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

ul#galeria li:hover {
	-webkit-transform: scale(1.5);
}

ul#galeria li:hover span {
	opacity: 1;
}

ul#galeria li#site01 {
	background: url('../imagens/glass.png') no-repeat;
	background-size: 200px 200px;
	background-color: #ffffff;
}

ul#galeria li#site01:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}
